<div class="content">
	<h1>Nastassia Tsishuk</h1>
	<h2>List of required Codecademy classes.</h2>
	<!-- check mark 	&#10004; -->
	<ul>
		<li>Welcome to Codecademy <b>&#10004;</b></li>
		<li>Learn How to Code <b>&#10004;</b></li>
		<li>Learn HTML <b>&#10004;</b></li>
		<li>Learn CSS <b>&#10004;</b></li>
		<li>Learn JavaScript <b>&#10004;</b></li>
		<li>Learn React <span class = "loading"></span></li>
		<li>Learn Typescript <span class = "loading"></span></li>
		<li>Learn the basics of Regular Expressions <b>&#10004;</b></li>
	</ul>
</div>