<div class="content">
  <div style="margin: 20px 0;"><div>
  <a href="https://codepen.io/ntsishu0/pen/WNRmJzE" target="_blank" style="font-weight: bold;">Build a Tribute Page</a>
  <iframe src="components/fccproject1.html" title="Wood Types" style="height: 400px; width: 100%;" frameborder="1"></iframe>
  <div style="margin: 20px 0;"><div>
  <a href="https://codepen.io/ntsishu0/pen/dyNrqro" target="_blank" style="font-weight: bold;">Build a Survey Form</a>
  <iframe src="components/fccproject2.html" title="Feedback" style="height: 400px; width: 100%;" frameborder="1"></iframe>
  <div style="margin: 20px 0;"><div>
  <a href="https://codepen.io/ntsishu0/pen/eYgoYvz" target="_blank" style="font-weight: bold;">Build a Product Landing Page</a>
  <iframe src="components/fccproject3.html" title="Feedback" style="height: 400px; width: 100%;" frameborder="1"></iframe>
  <div style="margin: 20px 0;"><div>
  <a href="https://codepen.io/ntsishu0/pen/zYNXprp" target="_blank" style="font-weight: bold;">Build a Technical Documentation Page</a>
  <iframe src="components/fccproject4.html" title="Feedback" style="height: 400px; width: 100%;" frameborder="1"></iframe>
  <div style="margin: 20px 0;"><div>
  <a href="https://codepen.io/ntsishu0/pen/abprvPw" target="_blank" style="font-weight: bold;">Build a Personal Portfolio Webpage</a>
  <iframe src="components/fccproject5.html" title="Feedback" style="height: 400px; width: 100%;" frameborder="1"></iframe>
</div>
